* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

nav{
    background-color: #333333;
    height: 5vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}
    

nav ul{
    margin-left:3em;
}
nav li{
    display: inline-block;
    margin: 0.5em 2em;
}

    

nav a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
    h1, h2 {
        text-align: center;
    }
input[type=button]{
    position: relative;
    float: right;
    margin:1em 4em;
    border-style: none;
    border-radius: 1em;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0.5em;
    background-color: #278A59;
    color: white;
    cursor: pointer;
    z-index: 2;
    
}

section{
height: 95vh;
}
.title{
    height: 40vh;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#products{
    background-color: #FF8058;
}

    
.title_effect{
    display: inline-block;
    background-color: #808080;
    height: 3.5rem;
    margin-top: 2rem;
}


.title h1{
    padding-top: 1.5em;
    display: inline-block;
    position: relative;
    bottom: 50%;
    transform: translate(1rem, -1rem);
    font-size: 3em;
    color: white; 
}

.content{
    padding: 8em 2em;
    display: block;
    height: 50vh;
}

.content h2{
    margin-bottom: 2em;
}

.content p {
    text-align: justify;
}

#services{
    background-color: #FFD637;
}

#contact{
    background-color: #FEA42C;
}