body{
    background-color: rgba(223, 206, 175, 0.699);
    font-family: sans-serif;
}
h1 {
    color: orange;
    text-align: center;
}
h2 {
    color: brown;
    text-align: center;
}

h3 {
    color: coral;
}