body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="button"]{
    background-color: aquamarine;
    color: white;
    border-radius: 10%;
    border-style: none;
    font-size: 1em;
    padding: 0.5em;
}

.letter{
    position:absolute;
    /* top: 10em;
    right: 10em;
    background-color: bisque; */
    padding: 0.5em;
    font-family: monospace;
    font-size: 2em;
    color:white
}

.hidden{
    visibility: hidden;
}

